@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline.btn-error:hover,
.btn-success {
  @apply text-white;
}

.animate-popup {
  animation: popup .85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popup {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  } 
}
